<nav class="sidebar">
    <div class="sidebar-sticky">
        <div class="d-flex align-items-center ps-3">
            <div class="logo-img-div"><img src="assets/logo.png" alt="Logo" style="width: 30px; height: 30px;"></div>
            <span class="ms-3" >Admaren Tech</span>
        </div>
        <hr class="sidebar-divider my-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/stories" routerLinkActive="active">
                    <i class="fas fa-list-ul me-2"></i> Stories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sprints" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <i class="fas fa-columns me-2"></i> Sprints
                </a>
            </li>
        </ul>
    </div>
</nav>
